{% extends 'base.html' %}

{% block title %}
Bob about
{% endblock %}

{% block content %}
<div class="container">
    <h1>Все товары</h1>
    {% for el in data %}
    <div class="card">
        <div class="card-body">
          {{ el.title }}
          <div class="ml-auto">
            <button class="btn btn-outline-warning">Кнопка</button>
            <form action="{{ url_for('delete_record', id=el.id) }}" method="POST">
                <button class="btn btn-outline-danger">Удалить товар</button>
            </form>
          </div>
        </div>
      </div><br>
      {% endfor %}
    <a href="/upload"><button class="btn btn-primary">Загрузить новый</button></a>
</div>
{% endblock %}