<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  <script src="../static/js/script.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="container">
    <form>
      <label for="phone">Введите номер телефона:</label><br>
      <input name="client_name" id="client_name" required data-phone-pattern />
    </form>
    
   </div>
</body>
</html>