{% extends 'base.html' %}

{% block title %}
Bob about
{% endblock %}

{% block content %}
<div class="container">
<h1>Новый товар</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        
        <input placeholder="Введите название товара" class="form-control" type="text" id="title" name="title" required><br><br>
        
        <input placeholder="Введите стоимость товара" class="form-control" type="number" id="price" name="price" required><br><br>
        
        <input class="form-control" type="file" id="image" name="image" accept="image/*" required><br><br>
        
        <textarea placeholder="Введите описание товара" class="form-control" id="description" name="description" required></textarea><br><br>
        
        <input placeholder="Введите категорию товара" class="form-control" type="text" id="category" name="category" required><br><br>

        <input class="checkbox" type="checkbox" id="isActive" name="isActive"><br><br>
        
        <input class="btn btn-success" type="submit" value="Upload">
    </form>
</div>
{% endblock %}